:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #f16f05;
  text-decoration: inherit;
}
a:hover {
  color: #f07f23;
}

/* Resetting some styles to ensure full-width */
body {
  margin: 0;
  padding: 0;
  background-color: #f16f05;
}

/* General styles for full-width elements */
.navbar,
.header,
.footer {
  width: 100%;
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width */
}

/* Transparent Navbar styles */
.navbar {
  position: absolute; /* Or fixed if you don't want it to initially scroll with the page */
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent; /* Initially transparent */
  color: white;
  z-index: 999;
  transition: background-color 0.3s ease; /* Smooth transition for background */
  padding: 1rem 2rem; /* Adjust as needed */
}

.navbar.sticky {
  position: fixed; /* Make it sticky on scroll */
  background-color: rgba(1, 4, 22, 0.9); /* Dark background with transparency */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
  z-index: 999;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color: #ddd;
}

.navbar-brand {
  font-size: 2rem; /* Adjust as needed */
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase; /* Added to match the 'REAL GOOD' style */
  letter-spacing: 0.1rem; /* Adjust letter spacing as needed */
  font-weight: 900;
}

.navbar-toggle {
  display: none; /* Hide the toggle button by default */
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(1, 4, 22, 0.9);
    padding: 1rem 0;
    text-align: center;
  }

  .navbar-toggle {
    display: block; /* Show the toggle button on smaller screens */
  }

  .navbar-links.active {
    display: flex;
    margin-top: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #f07f23;
  }

  .container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .navbar .container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Styles for the header */
.header {
  position: relative; /* Needed for stacking context */
  width: 100%;
  height: 100vh !important; /* Adjust as needed */
  background-image: url('/src/assets/header-bg.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
/* Add overlay */
.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(1, 4, 22, 0.8); /* f16f05 with 0.4 opacity */
  z-index: 1; /* Ensure it's above the background image but below the text */
}
.header h1,
.header h2 {
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  position: relative; /* Bring text in front of the overlay */
  z-index: 2;
}

.header h1 {
  font-size: 2.5rem; /* Adjust as needed */
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  font-weight: 700;
  color: white;
  text-transform: uppercase; /* Added to match the 'REAL GOOD' style */
  letter-spacing: 0.1rem; /* Adjust letter spacing as needed */
}

.header h2 {
  font-size: 1.2rem; /* Adjust as needed */
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: white;
  text-transform: uppercase; /* Added to match the 'REAL GOOD' style */
  letter-spacing: 0.1rem; /* Adjust letter spacing as needed */
}
/* Scroll down arrow */
.scroll-down-arrow {
  position: absolute;
  bottom: 20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  font-size: 2rem;
  color: white;
  transition: all 0.3s ease; /* Smooth transition */
  z-index: 2;
}

.scroll-down-arrow:hover {
  color: rgba(255, 255, 255, 0.8); /* Lighter color on hover */
}

/* Existing styles for other elements like buttons, footer, etc. */
/* Add your existing styles here */

/* Footer styles */
.footer {
  background-color: rgb(1, 4, 22); /* Dark background with transparency */
  color: white;
  text-align: center;
  padding: 2rem; /* Espaciado interno */
  display: flex;
}
.footer-content {
  background-color: rgb(1, 4, 22);
  color: white;
  text-align: center;
  display: flex;
  align-content: center;
  align-items: center;
  gap: 5rem;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

/* Card styles */
#cards-section {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.cards-section-heading {
  font-size: 1.5rem !important; /* Adjust font size */
  font-family: 'Poppins', sans-serif; /* Use Poppins font */
  font-weight: 900; /* Bold */
  color: #ffffff; /* Dark text color */
  line-height: 1.2; /* Improve line spacing */
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.cardsBlock {
  margin: 3rem auto;
}

/* Estilos generales de la tarjeta */
.card {
  background-color: #f2f1f0; /* Fondo color crema */
  border-radius: 0.5rem; /* Eliminar bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  border: none;
  text-align: left; /* Alinear texto a la izquierda */
  height: auto; /* Altura fija para todas las tarjetas */
  display: flex; /* Enable flexbox */
  flex-direction: column;
  padding: 3rem 2rem;
  gap: 1.5rem;
  margin: 0;
  width: 100%;
}

.card:hover {
  transform: scale(1.05);
}

/* Estilos para el título */
.card-title {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 0;
  color: #333;
  font-family: 'Poppins', sans-serif;
  padding: 0; /* Espacio alrededor del título */
  text-transform: uppercase;
  word-break: break-word; /* Add this line */
  line-height: 1.1;
}
.card-title span {
  font-weight: bolder;
}

/* Estilos para la imagen */
.card-img-circular {
  width: 250px; /* Tamaño de la imagen */
  min-height: 250px;
  border-radius: 50%; /* Hace la imagen circular */
  object-fit: cover; /* Cubre el espacio sin deformar */
  display: block; /* Asegura que margin auto funcione */
  margin: 0;
}

/* Estilos para el cuerpo de la tarjeta */
.card-body {
  padding: 0;
  text-align: left;
}

/* Estilos para el texto */
.card-text {
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
  font-weight: 900;
  width: 95%;
}

/* Estilos para la lista de ingredientes */
.card-text ul {
  padding-left: 1.2rem;
}

.card-text li {
  margin-bottom: 0.5rem;
}

/* Estilos para el precio */
.card-price {
  font-weight: 600;
  color: #e44d26;
}

/* Estilos para los botones */
.btnGroup {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.btn {
  border-radius: 50px;
  padding: 0.5rem 1.1rem;
  font-weight: 600;
  transition: all 0.3s ease;
  border: 1px solid #ffffff; /* Solid border */
  background-color: transparent; /* No fill */
  color: #ffffff; /* Dark text */
}

.btn:hover {
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Slightly darker background on hover */
  color: white;
}

.btn-primary {
  /* Clear previous styles */
  background-color: transparent;
  border-color: #333;
  color: #333;
}

.btn-primary:hover {
  background-color: rgba(
    0,
    0,
    0,
    0.1
  ); /* Slightly darker background on hover */
  border-color: #333;
  color: #333;
}

.btn-success {
  /* Clear previous styles */
  background-color: #d7d3d3;
  border: none;
  color: #333;
}

.btn-success:hover {
  background-color: #c3c2c2;
  border-color: #333;
  color: #333;
}

/* Scrolling Text */
.scrolling-text-container {
  width: 100%;
  overflow: hidden;
  background-color: #dfccbc; /* Cream background */
  color: #f16f05;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding: 1.5rem 0;
  white-space: nowrap;
  box-sizing: border-box; /* Important: Include padding in the width */
}

.scrolling-text {
  display: inline-block;
  padding-left: 100%; /* Start off screen */
  animation: scrollText 50s linear infinite; /* Adjust speed as needed */
}

.scrolling-text h3 {
  display: inline-block;
  padding: 0 20px; /* Space between repeated text */
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 0;
}

@keyframes scrollText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Follow Us Section */
.follow-us-section {
  position: relative;
  width: 100%;
  background-color: rgb(1, 4, 22); /* Dark Green background */
  padding: 2rem 0; /* Adjust the padding  */
  text-align: center; /* Center align */
  overflow: hidden; /* Hide overflow if any */
  height: 40vh;
}

/* Container for Follow Us Content */
.follow-us-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
}

.follow-us-title {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-bottom: 0 !important;
  margin-top: 0.5rem;
  color: rgb(255, 255, 255);
  z-index: 2;
  position: relative;
  display: inline-block; /* Align title and icons horizontally */
}

.social-icons {
  display: inline-block; /* Horizontal arrangement */
  vertical-align: middle; /* Align items vertically */
  z-index: 2;
  position: relative;
}

.social-icons a {
  margin: 0 0.3rem; /* Adjust margin as needed */
  padding: 0.2rem 0.3rem; /* Adjust padding as needed */
}

.social-icon {
  font-size: 2rem;
  color: #f16f05;
  transition: color 0.3s ease;
  display: inline-block; /* To be able to set width/height on the element */
  vertical-align: middle; /* Position content in the middle */
}

.social-icon:hover {
  color: #f07f23; /* Darker green on hover */
}

.pizza-name-background {
  position: absolute;
  left: 100%; /* Start off screen */
  transform: translateY(-50%);
  font-size: 6rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #dfccbc;
  white-space: nowrap;
  overflow: hidden;
  z-index: 1;
}

@media (max-width: 564px) {
  .header {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1rem;
    flex-direction: column;
  }
  .footer {
    flex-direction: column; /* Apila los elementos verticalmente */
    text-align: center;
    padding: 10px;
  }
  .header h1 {
    font-size: 3rem; /* Adjust as needed */
  }

  .header h2 {
    font-size: 1.2rem; /* Adjust as needed */
  }
  .header .container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
}
/* Responsive adjustments for smaller screens */
@media (min-width: 768px) {
  .container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .header {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1rem;
    flex-direction: column;
  }
  .footer {
    flex-direction: column; /* Apila los elementos verticalmente */
    text-align: center;
    padding: 10px;
  }
  .header h1 {
    font-size: 4rem; /* Adjust as needed */
  }

  .header h2 {
    font-size: 1.5rem; /* Adjust as needed */
  }
  .cards-section-heading {
    font-size: 1.7rem !important; /* Adjust font size */
    width: 75%;
  }
  .navbar-brand {
    font-size: 2rem;
  }
}
/* Responsive adjustments for smaller screens */
@media (min-width: 992px) {
  .card {
    min-height: 650px;
    width: 100%;
  }
  .card-title {
    font-size: 2.8rem;
  }
  .header h1 {
    font-size: 4.5rem; /* Adjust as needed */
  }

  .header h2 {
    font-size: 2rem; /* Adjust as needed */
  }
  .cards-section-heading {
    font-size: 2rem !important; /* Adjust font size */
    width: 75%;
  }
}
